.theme-default-content pre, .theme-default-content pre[class*=language-] {
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    margin: 0;
    background-color: $codeBgColor;
    border-radius: 6px;
    overflow: auto;
}