.theme-default-content pre, .theme-default-content pre[class*="language-"] {
    line-height: 1.4;
    padding: 11px 1.5rem 32px;
    margin: 0.85rem 0;
    background-color: #282c34;
    border-radius: 6px;
    overflow: auto;
}
.theme-code-group__nav-tab:focus {
    outline:none
}